<div class="event-loading" *ngIf="!events"><img src="assets/img/loading.svg"></div>
<div class="container-fluid" *ngIf="events">
  <div class="row events-header">
    <div class="container">
      <h2>Последние мероприятия</h2>
    </div>
  </div>
  <div class="row">
  <div class="container">
      <div class='event-container col-md-4 col-sm-6' *ngFor="let event of events | paginate: { id: 'server', itemsPerPage: 12, currentPage: page, totalItems: count }">
        <article class="event">
          <div class="cover" [ngStyle]="!event.cover ? {'background-color': '#AAAAAA'} : {'background-image': 'url(' + eventService.getSmallCover(event.cover) + ')'}">
            <div class="overlay">
              <h4><a [routerLink]="['/events', event.id]">{{event.title}}</a>
            <br><small>{{event.eventDate | date:'longDate'}}</small></h4>
              <p class="organizer">
                {{event.userId.firstName}} {{event.userId.lastName}}
              </p>
              <p class="participants">
                <i class="fa fa-user" aria-hidden="true"></i> {{event.participants}}
              </p>
            </div>
          </div>
          <p class="description">{{eventService.shortifyDescription(event.description, 140)}}</p>
        </article>
      </div>
    </div>
  </div>
  <!--/.container-->
  <div class="row">
    <div class="pagination">
      <pagination-controls class="events-pagination" previousLabel="Туда" nextLabel="Сюда" (pageChange)="changePage($event)" id="server"></pagination-controls>
    </div>
    <!--/.row-->
  </div>
</div>
