<div class="container-fluid">
  <div class="row">
    <div class="activist-logo">
      <img src="assets/img/activist_logo.svg" alt="">
      <h1>Активист</h1>
      <h4>Будь всегда в курсе событий</h4>
    </div>
  </div>
  <div class="row" *ngIf="soonerEvents">
    <div class="sooner-events">
      <div class="container">
        <h2>Скоро проводятся:</h2>
        <div class='event-container col-md-4' *ngFor="let event of soonerEvents">
          <article class="event">
            <div class="cover" [ngStyle]="!event.cover ? {'background-color': '#AAAAAA'} : {'background-image': 'url(' + eventService.getSmallCover(event.cover) + ')'}">
              <div class="overlay">
                <h4><a [routerLink]="['/events', event.id]">{{event.title}}</a>
                <br><small>{{event.eventDate | date:'longDate'}}</small></h4>
                <p class="organizer">
                    {{event.userId.firstName}} {{event.userId.lastName}}
                  </p>
                <p class="participants">
                  <i class="fa fa-user" aria-hidden="true"></i> {{event.participants}}
                </p>
              </div>
            </div>
            <p class="description">{{event.description | shortifyDescription: 240}}</p>
          </article>
        </div>
      </div>
    </div>
  </div>

  <div class="row" *ngIf="eventsByTags">
    <div class="tag-container" *ngFor="let eventsByTag of eventsByTags">
      <div class="container">
        <h2><a [routerLink]="['/tags', eventsByTag.tag]">{{eventsByTag.tag}}</a></h2>
        <div class='event-container' *ngFor="let event of eventsByTag.events; let index = index" [class.col-md-6]="index < 2" [class.col-md-4]="index > 1">
          <article class="event">
            <div class="cover" [ngStyle]="!event.cover ? {'background-color': '#AAAAAA'} : {'background-image': 'url(' + eventService.getSmallCover(event.cover) + ')'}">
              <div class="overlay">
                <h4><a [routerLink]="['/events', event.id]">{{event.title}}</a>
                <br><small>{{event.eventDate | date:'longDate'}}</small></h4>
                <p class="organizer">
                    {{event.userId.firstName}} {{event.userId.lastName}}
                  </p>
                <p class="participants">
                  <i class="fa fa-user" aria-hidden="true"></i> {{event.participants}}
                </p>
              </div>
            </div>
          </article>
        </div>
      </div>
    </div>
  </div>
  <div class="event-loading" *ngIf="!soonerEvents || !eventsByTags"><img src="assets/img/loading.svg"></div>
</div>
