<div class="event-loading" *ngIf="!event"><img src="assets/img/loading.svg"></div>
<div class="container-full hat" *ngIf="event">
	<div class="background-image" [ngStyle]="!event.cover ? {'background-color': '#777777'} : {'background-image': 'url(' + eventService.getCover(event.cover) + ')'}">
	</div>
	<div class="shadow">

	</div>
	<div class="container cover" id="cover-full" [ngStyle]="!event.cover ? {'background-color': '#777777'} : {'background-image': 'url(' + eventService.getCover(event.cover) + ')'}">
		<div class="overlay">
			<h1>{{event.title}}
			<br><small>{{event.eventDate | date:'longDate'}}</small>
		<br><button class="btn btn-primary btn-sm btn-fill btn-tag" *ngFor="let tag of tags; let i = index" [routerLink]="['/tags', tag]">{{tag}}</button></h1>
		</div>
	</div>
</div>

<div class="content" *ngIf="event">
	<section class="container">
		<div class="row">
			<div class="col-md-8">
				<div class="event-info">
					<h4>Описание:</h4>
					<p class="description" *ngFor="let paragraph of event.description">{{paragraph}}</p>
					<br>
					<p class="event-date"><strong>Дата проведения:</strong> {{event.eventDate | date:'longDate'}} <span *ngIf="event.eventTime">{{event.eventTime}}</span></p>
				</div>
			</div>

			<div class="col-md-4">
				<div class="organizer-info">
					<h4>Организатор:</h4>
					<br/>
					<h5><img *ngIf="organizer.avatar" [src]="userService.getAvatar(organizer.avatar)" alt="" class="org-avatar">
			    <img *ngIf="!organizer.avatar" src="assets/img/noavatar.png" alt="" class="org-avatar">
					{{organizer.firstName}} {{organizer.secondName}} {{organizer.lastName}}</h5>
					<div class="contact-info" *ngIf="authService.authenticated()">E-mail: {{organizer.email}} </div>
					<div class="contact-info" *ngIf="!authService.authenticated()">
						<i>Для отображения контактной информации вам необходимо войти в систему</i>
					</div>
				</div>

				<div class="join-event" *ngIf="authService.authenticated() && authService.userProfile.group == 1">
					<div class="event-not-joined" *ngIf="!isJoined">
						<p>Вы не участвуете в этом мероприятии. Присоединиться?</p>
						<button class="btn btn-default" (click)="joinAsActivist()">Как активист</button>
						<button class="btn btn-default" [disabled]="!event.volunteers" (click)="joinAsvolunteer()">Как волонтёр</button>
					</div>
					<div class="event-joined" *ngIf="isJoined">
						<p *ngIf="!asVolunteer">Вы участвуете в этом мероприятии как активист</p>
						<p *ngIf="asVolunteer">Вы участвуете в этом мероприятии как волонтёр</p>
						<button class="btn btn-danger" (click)="denyEvent()">Отказаться от участия</button>
					</div>
					<div class="join-confirm" *ngIf="confirm">

					</div>
				</div>
			</div>
		</div>
	</section>
</div>
