<section class="article-full" *ngIf="event">
	<h3>{{event.title}}</h3>
	<p class="description" *ngFor="let paragraph of event.description">{{paragraph}}</p>
	<p class="event-date">Дата проведения: {{event.eventDate | date:'yyyy-MM-dd'}} <span *ngIf="isTimeSet">{{event.eventTime}}</span></p>
	<div class="row" *ngIf="tags && tags.length > 0">
		<label>Теги</label>
		<button class="btn btn-primary btn-xs btn-fill" *ngFor="let tag of tags; let i = index" [routerLink]="['/tags', tag]">{{tag}}</button>
	</div>
	<div class="join-event" *ngIf="authService.authenticated() && isActivist">
		<div class="event-not-joined" *ngIf="!isJoined">
			<p>Вы не участвуете в этом мероприятии. Присоединиться?</p>
			<button class="btn btn-default" (click)="joinAsActivist()">Как активист</button>
			<button class="btn btn-default" [disabled]="!event.volonteurs" (click)="joinAsVolonteur()">Как волонтёр</button>
		</div>
		<div class="event-joined" *ngIf="isJoined">
			<p>Вы уже участвуете в этом мероприятии.</p>
		</div>
	</div>
</section>
