<div *ngIf="authService.authenticated() && authService.userProfile">
    <h4>You are logged in</h4>
    <div class="row">
      <div class="col-md-6">
        <h3>Profile</h3>
        <!--<img [src]="authService.userProfile.picture" alt="" class="profile-img">-->
        <p><strong>ФИО: </strong> {{authService.userProfile.firstName}}
                                  {{authService.userProfile.secondName}}
                                  {{authService.userProfile.lastName}}</p>
        <p><strong>Email: </strong> {{authService.userProfile.email}}</p>
      </div>
    </div>
    <profile-events></profile-events>
  </div>
  <h4 *ngIf="!authService.authenticated()">You are not logged in, please click 'Log in' button to login</h4>
