<div class="row" *ngIf="!events || !(events.length > 0)">
  <h4>Вы ещё не присоединились ни к одному мероприятию.</h4>
</div>

<div class="row" *ngIf="events && events.length > 0">
  <div *ngFor="let event of events">
    <div class='event-container col-md-4 col-sm-6'>
      <article class="event">
        <div class="cover" [ngStyle]="event.cover == '' ? {'background-color': '#777777'} : {'background-image': 'url(' + getCover(event.cover) + ')'}">
          <div class="overlay">
            <h4><a [routerLink]="['/events', event.id]">{{event.title}}</a>
          <br><small>{{event.eventDate | date:'longDate'}}</small></h4>
          </div>
        </div>
        <p class="description">{{shortifyDescription(event.description)}}</p>

        <div class="event-buttons">
          <button class="btn btn-danger btn-fill" (click)="denyEvent(event.id)"><i class="fa fa-times" aria-hidden="true"></i></button>
        </div>
        <joined-users class="joined-users" *ngIf="activeEvent == event.id" [eventId]="event.id"></joined-users>
      </article>
    </div>
  </div>
</div>
