<header>
	<div id="navbar">
		<nav class="navbar navbar-ct-blue" role="navigation">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
					<a class="navbar-brand" routerLink="/home">Активист</a>
				</div>

				<div class="navbar-collapse collapse" id="navbar-collapse">
					<ul class="nav navbar-nav navbar-left">
						<li routerLinkActive="active"><a routerLink="/events">Мероприятия <span class="sr-only">(current)</span></a></li>
					</ul>
					<ul class="nav navbar-nav navbar-right" *ngIf="!authService.authenticated()">
						<li routerLinkActive="active"><a routerLink="/signup">Регистрация</a></li>
						<li routerLinkActive="active"><a class="btn btn-round btn-default" routerLink="/login">Вход</a></li>
					</ul>
					<ul class="nav navbar-nav navbar-right" *ngIf="authService.authenticated() && authService.userProfile">
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ authService.userProfile.email }} <b class="caret"></b></a>
							<span class="dropdown-arrow"></span>
							<ul class="dropdown-menu">
								<li routerLinkActive="active"><a routerLink="/profile">Профиль</a></li>
								<li class="divider"></li>
								<li routerLinkActive="active"><a (click)="authService.logout()">Выход</a></li>
							</ul>
						</li>
					</ul>
				</div>
				<!-- /.navbar-collapse -->
			</div>
		</nav>
		<!-- /navbar -->
	</div>
</header>
<router-outlet></router-outlet>

<!--

<footer>
	<div class="container">
		<h3>Бултых</h3>
		<p>
			Разработано для ОСО БГПУ
		</p>
	</div>
</footer>-->
