<header>
	<div id="navbar-full">
		<div class="">
			<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
				<div class="container">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
						<a class="navbar-brand" routerLink="/home">
							<svg width="39px" height="36px" viewBox="333 -36 39 36" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
							    <!-- Generator: Sketch 40.3 (33839) - http://www.bohemiancoding.com/sketch -->
							    <desc>Главная</desc>
							    <defs></defs>
							    <path d="M348.638484,-14.0698536 L344.603205,-0.724609375 L333.549316,-0.724609375 L346.70416,-35.7246094 L358.498157,-35.7246094 L371.653,-0.724609375 L360.336492,-0.724609375 L348.638484,-14.0698536 Z M356.349453,-14.0704484 L352.481786,-26.6523038 L348.638484,-14.0698536 L356.349453,-14.0704484 Z" id="A" stroke="none" fill-rule="evenodd"></path>
							</svg> <span class="sr-only">Активист</span></a>
					</div>

					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
						<ul class="nav navbar-nav navbar-left">
							<li routerLinkActive="active"><a routerLink="/events">Мероприятия <span class="sr-only">(current)</span></a></li>
						</ul>
						<ul class="nav navbar-nav navbar-right" *ngIf="!authService.authenticated()">
							<li routerLinkActive="active"><a routerLink="/signup">Регистрация</a></li>
							<li routerLinkActive="active"><a class="btn btn-round btn-default" routerLink="/login">Вход</a></li>
						</ul>
						<ul class="nav navbar-nav navbar-right" *ngIf="authService.authenticated() && authService.userProfile">
							<li>
								<div class="logo-container pull-right">
									<div class="logo">
										<img *ngIf="authService.userProfile.avatar" [src]="userService.getSmallAvatar(authService.userProfile.avatar)" alt="" class="profile-img">
									  <img *ngIf="!authService.userProfile.avatar" src="assets/img/noavatar_sm.png" alt="" class="profile-img">
									</div>
								</div>
							</li>

							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ authService.userProfile.email }} <b class="caret"></b></a>
								<span class="dropdown-arrow"></span>
								<ul class="dropdown-menu">
									<li routerLinkActive="active"><a routerLink="/profile">Профиль</a></li>
									<li class="divider"></li>
									<li routerLinkActive="active"><a (click)="authService.logout()">Выход</a></li>
								</ul>
							</li>
						</ul>
					</div>
					<!-- /.navbar-collapse -->
				</div>
			</nav>
			<!-- /navbar -->
		</div>
	</div>

</header>
<div class="main">
	<router-outlet></router-outlet>
</div>

<div class="footer">
	<div class="overlayer">
		<div class="container">
			<div class="row support">
				<div class="col-sm-3">
				</div>
				<div class="col-sm-3">

				</div>
				<div class="col-sm-4">

				</div>
				<div class="col-sm-2">

				</div>
			</div>
			<div class="row">
				<div class="credits">
					&copy; 2017 Сделано с <i class="fa fa-heart heart" alt="love"></i> для БГПУ.
				</div>
			</div>
		</div>
	</div>
</div>
