.profile-events {
  display: inline-block;
  margin: 10px;
  white-space: normal;
  vertical-align: middle;
  text-align: left;
  padding: 10px;
  background-color: #FFFFFF;
  button {
    display: block;
    float: right;
    border-radius: 0;
    margin: 0;
    border: 0;
  }
}
