table {
  width: 100%;
  tr {
    .prt-type {
      .prt {
        display: inline-block;
        color: #FAFAFA;
        font-weight: bold;
        padding: 5px 8px;
        cursor: default;
        &-act {
          background-color: #05AE0E;
        }
        &-vol {
          background-color: #05AE0E;
        }
        &-vol-no-form {
          background-color: #EC3522;
        }
      }
    }
  }
}

.no-prt {
  margin-top: 10px;
  text-align: center;
}
