.my-events-panel {
  background-color: #FFFFFF;
  margin: 10px 0;
  -webkit-box-shadow: 0 10px 21px -5px rgba(0,0,0,0.17);
  -moz-box-shadow: 0 10px 21px -5px rgba(0,0,0,0.17);
  box-shadow: 0 10px 21px -5px rgba(0,0,0,0.17);
  .btn {
    border-radius: 0;
  }
}

.joined-users {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10000;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 7px;
  background-clip: content-box;
  overflow: scroll;
  width: 100%;
  max-height: 90%;
  max-height: -moz-calc(100% - 36px);
  max-height: -webkit-calc(100% - 36px);
  max-height: calc(100% - 36px);
}
