<div class="container no-events" *ngIf="!events || !(events.length > 0)">
  <h4>У вас ещё нет добавленных мероприятий</h4>
</div>

<div class="row">
  <div class="my-events-panel">
    <button class="btn btn-success btn-fill" routerLink="/events/new"><i class="fa fa-plus" aria-hidden="true"></i> Добавить мероприятие</button><br>
  </div>
</div>

<div class="row" *ngIf="events && events.length > 0">
  <div *ngFor="let event of events; let index = index">
    <div class='event-container col-md-4 col-sm-6'>
      <article class="event">
        <div class="cover" [ngStyle]="!event.cover ? {'background-color': '#AAAAAA'} : {'background-image': 'url(' + eventService.getSmallCover(event.cover) + ')'}">
          <div class="overlay">
            <h4><a [routerLink]="['/events', event.id]">{{event.title}}</a>
          <br><small>{{event.eventDate | date:'longDate'}}</small></h4>
          <p class="participants">
            <i class="fa fa-user" aria-hidden="true"></i> {{event.participants}}
          </p>
          </div>
        </div>
        <p class="description">{{eventService.shortifyDescription(event.description, 140)}}</p>

        <div class="event-buttons">
          <button class="btn btn-danger btn-fill" (click)="showConfirm(event.id)"><i class="fa fa-trash" aria-hidden="true"></i></button>
          <button class="btn btn-warning btn-fill" [routerLink]="['/events/edit', event.id]"><i class="fa fa-pencil" aria-hidden="true"></i></button>
          <button class="btn btn-info btn-fill" [routerLink]="['/events/edit/cover', event.id]"><i class="fa fa-picture-o" aria-hidden="true"></i></button>
          <button *ngIf="joinedActiveEvent != event.id" class="btn btn-default btn-fill" (click)="activateJoined(event.id)"><i class="fa fa-user" aria-hidden="true"></i></button>
          <button *ngIf="joinedActiveEvent == event.id" class="btn btn-default btn-fill" (click)="activateJoined(0)"><i class="fa fa-times" aria-hidden="true"></i></button>
        </div>
        <joined-users class="joined-users" *ngIf="joinedActiveEvent == event.id" [eventId]="event.id"></joined-users>
        <app-confirm *ngIf="confirmActiveEvent == event.id"
          class="delete-confirm"
          [message]="'Вы уверены, что хотите удалить мероприятие?'"
          [style]="'profile-events'"
          (confirmMessage)="handleConfirmEvent($event, event.id, index)"></app-confirm>
      </article>
    </div>
  </div>
</div>
