<h1>Регистрация</h1>
<form>
<div class="form-group">
  <label for="name">Email</label>
  <input type="email" class="form-control" #username placeholder="yours@example.com">
</div>
<div class="form-group">
  <label for="name">Пароль</label>
  <input type="password" class="form-control" #password placeholder="ваш пароль">
</div>
<div class="form-group">
  <label for="name">Имя</label>
  <input type="text" class="form-control" #firstName placeholder="имя">
</div>
<div class="form-group">
  <label for="name">Отчество</label>
  <input type="text" class="form-control" #secondName placeholder="отчество">
</div>
<div class="form-group">
  <label for="name">Фамилия</label>
  <input type="text" class="form-control" #lastName placeholder="фамилия">
</div>
<div class="form-group">
  <label for="name">Пол</label>
  <select class="form-control" #gender>
    <option value="1">Мужской</option>
    <option value="2">Женский</option>
  </select>
</div>
<div class="form-group">
  <label for="name">Зарегистрироваться как</label>
  <select class="form-control" #group>
    <option value="1">Участник</option>
    <option value="2">Организатор</option>
  </select>
</div>
<button type="submit" class="btn btn-default" (click)="addHero(username.value,
password.value,
firstName.value,
 secondName.value,
  lastName.value,
   gender.value,
    group.value)">Sign Up</button>
</form>
