/* You can add global styles to this file, and also import other style files */
.tag {
  display: inline-block;
  background-color: #f0f0f0;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
  cursor: pointer;
}

.tag:hover {
  background-color: #eaeaea;
}
